body {
    background-image: url(bg.webp);
    grid-template-columns: repeat(12, 1fr);
}

#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 1200px;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    box-shadow: 0px 0px 250px;
    border-radius: 24px;
}

#buttons {
    width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    padding-left: 4em;
    padding-bottom: 4em;
}

main {
    grid-column: span 12;
}

.main2 {
    grid-column: span 8;
}

aside {
    grid-column: span 4;
    background-color: green;
}

aside h2 {
    color: lightgreen;
    text-align: center;
    border-bottom: 3px solid lightgreen;
}

aside p {
    color: lightgreen;
    text-align: center;
}

header {
    grid-column: span 12;
    background-color: darkgreen;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

h1 {
    font-family: "Jaro", sans-serif;
    text-align: center;
    font-size: 72px;
    color: lightgreen;
}

h2 {
    font-size: 36px;
    font-family: "Jaro", sans-serif;
    margin: 1em;
    padding-bottom: .5em;
    color: darkgreen;
    border-bottom: 3px solid darkgreen;
}

ul {
    font-family: "Iconsolata", monospace;
    list-style: none;
    font-size: 24px;
    color: darkgreen;
}

#me {
    float: left;
    margin: 1em;
    width: 300px;
    border: 3px solid darkgreen;
    border-radius: 24px;
}

p {
    font-family: "Iconsolata", monospace;
    margin: 1em;
    font-size: 24px;
    color: darkgreen;
}

main a {
    background-color: darkgreen;
    height: 150px;
    color: lightgreen;
    text-align: center;
    font-family: "Jaro", sans-serif;
    padding-top: 100px;
    font-size: 48px;
    text-decoration: none;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: box-shadow 0.25s, background-color 0.25s, color 0.25s;
}

#buttons {
    margin-top: 4em;
}

main a:hover {
    box-shadow: 24px 24px 0 grey, -24px -24px 0 lightgrey;
    background-color: black;
    color: white;
}

#one {
    margin-top: 5em;
}
  
#two {
    margin-top: 2.5em;
}

#back {
    grid-column: span 12;
    background-color: darkgreen;
    padding: 1em;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

#back a {
    color: lightgreen;
    font-family: "Jaro", sans-serif;
    text-decoration: none;
    font-size: 24px;
    transition: color .25s;
}

#back a:hover{
    color: white;
}

audio {
    margin: 1em;
}

#myCarousel .f-carousel__slide img {
    width: 400px;
    border: 3px solid darkgreen;
    border-radius: 24px;
}

#myCarousel .f-carousel__slide {
    text-align: center;
}

.f-carousel {
    --f-button-color: rgb(0 128 0);
    --f-button-hover-color: rgb(0 100 0);
    --f-button-svg-stroke-width: 3;
}